
body{
    width:100%;
    height:100%;
    background-color: #EEF9BF;
}


.card{
    height:147px;
    width:116px;
    background-color:#A7E9AF;
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:34px;
    border:1px solid #99CEA8;
}



.card img{
    width:100px;
    height:100px;
}

ul{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
}


.all-content div:first-child h1{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:56px;
    color:#75B79E;
    font-weight: 700;
    margin:40px auto 13px auto;
    position: relative;
    text-align:center;
}

.escondido{
    display:none;
}

/*tirando o select do div*/
div{
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

/*timer*/

.timer{
  position:fixed;
  top:10px;
  right:10px;
  background-color:#75B79E;
  border-radius: 9px;
}

.timer h1{
  font-weight: 700;
  padding:10px;
  color:white;
}

button{
  margin-top:40px;
  background-color:#75B79E;
  font-size:20px;
  padding:12px 60px;
  border-radius: 50px;
  border:0px;
  color:white;
  font-weight:700;
  letter-spacing: 2px;
}

@media(max-width:758px){
  .all-content div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .timer h1{
    padding:5px;
  }


}